body {
  background-color: #e7e9ed;
}

.invoice-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
  max-width: 850px;
  padding: 70px;
}
.bold-text {
  font-weight: bold;
}
/* .table-invoice :first-child {
  border: 1px solid #dfdfdf;
  border-radius: 8px;
} */

.table-row-light {
  background-color: #f7f7f7;
}
.hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
