body {
  background-color: #e7e9ed;
}

footer {
  margin-top: 25px;
}

.invoice-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
  max-width: 850px;
  padding: 70px;
}
.bold-text {
  font-weight: bold;
}

.small-text {
  font-size: small;
}

.table-row-light {
  background-color: #f8f8fa;
}
.table-invoice {
  border: 1px solid #dfdfdf;
  border-radius: 6px;
}

.table .top-border th {
  border: none;
}

.hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
a {
  color: #fff;
  text-decoration: none;
}
